extends shared/layout.pug

block title
    title Simple Chat

block titleHeader
    h1 Simple Chat

block content
    .container
        .row
            select#chat.form-control
                option(value="ws://192.168.1.38:500") My Chat
                option(value="ws://mispisit-chat.herokuapp.com:500") Other Chat 1
                option(value="") Other Chat 2
            
            input#name.form-control(type="text", value="NG", placeholder="Input your name", required)
            
            #chat-box.form-control
                #chat-content
            
            textarea#text.form-control(rows="3", placeholder="Input your message", required)